# Claude Code
.claude/

# LaTeX temp files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.out
*.log
*.aux

# Data
Homework/Midterm/Data/

# Windows
desktop.ini
Thumbs.db
.vscode/
Homework/Final/Data/music-recommender-2026s/trainItem2.txt
Homework/Final/Data/trainItem.data
Homework/Final/cache/
Homework/Homework 8/Data/trainItem.data
Homework/Homework 8/Data/music-recommender-2026s/trainItem2.txt
Lectures/Week11_04-13/supplemental_materials/Data/trainItem.data/trainItem.data
